 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/all.css">
	  <link rel="stylesheet" href="static/css/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap-vue.min.css"/>

	<style type="text/css">
        tr {
            height:10px;
            cursor:pointer;
        }
        td {padding:0px;}
        th {cursor: pointer;}
    </style>
    <link rel="icon" type="image/png" href="static/ico/favicon.ico" />

</head>

<body>
    <div class="container-fluid" style="padding: 0px;"">
		<div id="app" >

	<b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#" v-on:click='alert("Eltex - говно")'>Eltex</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item v-on:click='swap_cluster("audag");'>Аюдаг</b-nav-item>
        <b-nav-item v-on:click='swap_cluster("guest");'>Гость</b-nav-item>
        <b-nav-item v-on:click='swap_cluster("skala");'>Скальное</b-nav-item>
      </b-navbar-nav>
	</b-navbar>

		<div class="table-responsive table-striped table-hover">
		<table  class="table" >
			<thead>
				<tr>
					<th   v-on:click='sort_by="location";sort_by_key(sort_by)'>Имя</th>
					<th   v-on:click='sort_by="ip";sort_by_key(sort_by)'>IP</th>
					<th   v-on:click='sort_by="mac";sort_by_key(sort_by)'>Мак-адрес</th>
					<th   v-on:click='sort_by="compat";sort_by_key(sort_by)'>Модель</th>
					<th   v-on:click='sort_by="status";sort_by_key(sort_by)'> Статус</th>
					<th   v-on:click='sort_by="ping";sort_by_key(sort_by)'> Пинг</th>
					<th   v-on:click='sort_by="firmware-version";sort_by_key(sort_by)'>Прошивка</th>
				</tr>
			</thead>
			<tbody>
				<tr  style="cursor:pointer;"  v-for="node in array_nodes">
					<th v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>{{node.location}}</th>
					<td v-on:click='window.open("http://" + node.ip)'>{{node.ip}}</td>
					<td v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>{{node.mac}}</td>
					<td v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>{{node.compat}}</td>
					<td v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>
						<template v-if="node.status">
							<span class="border border-success"><font color="green"> connected </font></span>
						</template>
						<template v-else>
							<font color="red"> disconnected </font>
						</template>
					</td>
					<td v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>{{node.ping.toFixed(1)}}ms </td>
					<td v-on:click='detail(node.ip,node.location)'  v-b-modal.show-detail>{{node["firmware-version"]}} </td>
					<td v-on:click='reboot(node.ip)'><font color="blue"> restart</font> <i style="color:blue;" class="fas fa-power-off" > </i></td>
                </tr>
			</tbody>
		</table>
		<h2> Всего {{ array_nodes.length }} </h2>
		</div>
  <b-modal id="show-detail" centered no-stacking size="xl"  v-bind:title="node_detail_name" >
    <table  class="table" >
			<thead>
				<tr>
					<th> IP</th>
					<th> Hostname</th>
					<th> Mac</th>
					<th> interface</th>
					<th> uptime</th>
					<th> rx-mb</th>
					<th> tx-mb</th>
				</tr>
			</thead>
			<tbody >
				<tr  v-for="node in node_detail">
					<th>{{node["ip-address"]}}</th>
					<td>{{node.hostname}}</td>
					<td>{{node.station}}</td>
					<template v-if="node.interface === 'wlan1'">
						<td>2.4 Ггц</td>
					</template>
					<template v-else>
						<td>5 Ггц</td>
					</template>
					<td>{{node.uptime}}</td>
					<td>{{(node["rx-bytes"] / 1024 / 1024).toFixed(2)}}</td>
					<td>{{(node["tx-bytes"] / 1024 / 1024).toFixed(2)}} </td>
					<td>{{node["firmware-version"]}} </td>
				</tr>
			</tbody>
		</table>
        <template v-if="spinner">
            <div class="d-flex justify-content-center mb-3">
                <b-spinner label="Loading..." />
            </div>
        </template>
   </b-modal>
</div>
</body>

    <script src="static/js/axios.min.js"></script>
    <script src="static/js/polyfill.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/bootstrap-vue.min.js"></script>

    <script type="text/javascript">
        var cluster_name = "audag";
        var spinner = true;
        var vm = new Vue({
            el: '#app',
            data: {
				array_nodes: [],
                cluster_name: cluster_name,
				node_detail: [],
				sort_by: "location",
                spinner: spinner,
                node_detail_name :"",
				audag_is_active: 'true',
				guest_is_active: 'false',
            },
            methods: {
                swap_cluster: function(name) {;
                    vm.cluster_name = name;
					vm.fast_init();
                },
				detail: function(ip,name) {
                    vm.spinner = true;
                    vm.node_detail_name = name;
                    vm.node_detail=[];
					axios.post('/detail', {"ip": ip}).then(function(response){
						for(var key in response.data) {
								vm.node_detail.push(response.data[key]);
						}
                        vm.spinner = false;
					});

				},
                reboot: function(ip){
                    if (confirm('Вы уверены ?')) {
                        axios.post('/reboot', {'ip': ip});
                    };
                },
				sort_by_key:	function(key) {
					vm.array_nodes.sort(function(a,b){
						var keyA = (a[key]).toString().toUpperCase();
						var keyB = b[key].toString().toUpperCase();
						if (keyA < keyB) {
							return -1;
						}
						if (keyA > keyB) {
							return 1;
						}
						return 0;
					});
				},
				fast_init: function() {
					fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);

									}

								});
				},
            },
			//запускается сразу после монтирования всех компонентов, и начинает обновлять таблицу
			mounted : function() {
                fetch(window.location.href + cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);
									}
								});
				this.$nextTick(function () {
					setInterval(() => {
							fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);
									}

								});
					}, 5000);
				});
			},
        })
    </script>
</html>
