<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
    <title> LOL </title>
    <link rel="icon" type="image/png" href="https://static.artek.org/static/img/favicon.ico" />
</head>

<body>
    <div class="container-fluid">
		<div class="vue">
		<button type="button" class="btn" v-on:click='swap_cluster("audag")'>Аюдаг</button>
        <button type="button" class="btn" v-on:click='swap_cluster("guest")'>Гость</button>
		<table  class="table table-striped table-responsive" >
			<thead>
				<tr>
					<th > <button type="button" class="btn btn-primary">Имя</button></th>
					<th > <button type="button" class="btn btn-primary">IP</button></th>
					<th > <button type="button" class="btn btn-primary">Мак-адрес</button></th>
					<th v-if="cluster_name === 'audag'"> <button type="button" class="btn btn-primary">модель</button></th>
					<th > <button type="button" class="btn btn-primary">Статус</button></th>
					<th > <button type="button" class="btn btn-primary">Пинг</button></th>
					<th > <button type="button" class="btn btn-primary">Версия прошивки</button></th>
					<th > Перезагрузка</th>
				</tr>
			</thead>
			<tbody >
				<tr  v-for="node in nodes" :key="node.name"> 
					<th>{{node.name}}</th>
					<td>{{node.ip}}</td>
					<td>{{node.mac}}</td>
					<td v-if="node.model">{{node.model}}</td>
					<td>
						<template v-if="node.status">
							<font color="green"> connected </font>
						</template>
						<template v-else>
							<font color="red"> disconnected </font>
						</template>
					</td>
					<td>{{ node.ping.toFixed(1) }}ms </td>
					<td> {{ node.firmver }} </td>
					<td> <button v-on:click='reboot(node.ip)' type="button" class="btn btn-danger"> restart </button> <td>
				</tr>
			</tbody>
		</table>
	
	  </div>
	</div>
</body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
        var cluster_name = "audag";
        var vm = new Vue({
            el: '.vue',
            data: { 
                nodes : {},
                cluster_name: cluster_name,
				node_detail: {},
            },
            methods: {
                swap_cluster: function(name) {
                    vm.nodes = {};
                    vm.cluster_name = name;
					vm.fast_init();
                },
				detail: function(ip) {
					axios.post('/detail', {'ip': ip})
					.then( function(response){
						vm.node_detail = {};
					});
				},
                reboot: function(ip){
                    if (confirm('Вы уверены ?')) {
                        axios.post('/reboot', {'ip': ip});
                    };
                },
				fast_init: function() {
					fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									for (var key in data) {
										Vue.set(vm.nodes, data[key].name, data[key])
									}
								
								});
				},
            },
			//запускается сразу после монтирования всех компонентов, и начинает обновлять таблицу
			mounted : function() {
                fetch(window.location.href + cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									for (var key in data) {
										Vue.set(vm.nodes, data[key].name, data[key])
									}
								});
				this.$nextTick(function () {	
					setInterval(() => {
							fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									for (var key in data) {
										Vue.set(vm.nodes, data[key].name, data[key])
									}
								
								});
					}, 5000);
				});
			},
        })
    </script>
</html>