 <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
    <title> LOL </title>
    <link rel="icon" type="image/png" href="https://static.artek.org/static/img/favicon.ico" />
    <style type="text/css">
        tr {height:10px;}
        td {padding:0px;}
    </style>
</head>

<body>
    <div class="container-fluid">
		<div class="vue">
		<button type="button" class="btn" v-on:click='swap_cluster("audag")'>Аюдаг</button>
        <button type="button" class="btn" v-on:click='swap_cluster("guest")'>Гость</button>
		
		<div class="row">
		<div class="table-responsive col-md-6 table-striped">
		<table  class="table" >
			<thead>
				<tr>
					<th style="cursor:pointer;" v-on:click='sort_by="location";sort_by_key(sort_by)'>Имя</th>
					<th style="cursor:pointer;" v-on:click='sort_by="ip";sort_by_key(sort_by)'>IP</th>
					<th style="cursor:pointer;"  v-on:click='sort_by="mac";sort_by_key(sort_by)'>Мак-адрес</th>
					<th style="cursor:pointer;"  v-on:click='sort_by="compat";sort_by_key(sort_by)'>Модель</th>
					<th style="cursor:pointer;"  v-on:click='sort_by="status";sort_by_key(sort_by)'> Статус</th>
					<th style="cursor:pointer;"  v-on:click='sort_by="ping";sort_by_key(sort_by)'> Пинг</th>
					<th style="cursor:pointer;" v-on:click='sort_by="firmware-version";sort_by_key(sort_by)'>Прошивка</th>
					<th > Перезагрузка</th>
				</tr>
			</thead>
			<tbody>
				<tr  v-for="node in array_nodes"> 
					<th>{{node.location}}</th>
					<td>{{node.ip}}</td>
					<td>{{node.mac}}</td>
					<td>{{node.compat}}</td>
					<td>
						<template v-if="node.status">
							<font color="green"> connected </font>
						</template>
						<template v-else>
							<font color="red"> disconnected </font>
						</template>
					</td>
					<td>{{node.ping.toFixed(1)}}ms </td>
					<td>{{node["firmware-version"]}} </td>
					<td> <button v-on:click='reboot(node.ip)' type="button" class="btn btn-danger"> restart </button> </td>
					<td> <button v-on:click='detail(node.ip)' type="button" class="btn btn-info"> подробно </button> </td>
                </tr>
			</tbody>
		</table>
		</div>
		<div class="table-responsive table-striped col-md-6 ">
		<table  class="table" >
			<thead>
				<tr>
					<th> IP</th>
					<th> Hostname</th>
					<th> Mac</th>
					<th> interface</th>
					<th> uptime</th>
					<th> rx-mb</th>
					<th> tx-mb</th>
				</tr>
			</thead>
			<tbody >
				<tr  v-for="node in node_detail"> 
					<th>{{node["ip-address"]}}</th>
					<td>{{node.hostname}}</td>
					<td>{{node.station}}</td>
					<template v-if="node.interface === 'wlan1'">
						<td>2.4 Ггц</td>
					</template>
					<template v-else>
						<td>5 Ггц</td>
					</template>
					<td>{{node.uptime}}</td>
					<td>{{(node["rx-bytes"] / 1024 / 1024).toFixed(2)}}</td>
					<td>{{(node["tx-bytes"] / 1024 / 1024).toFixed(2)}} </td>
					<td>{{node["firmware-version"]}} </td>
				</tr>
			</tbody>
		</table>
		</div>
	  </div>
	</div>
	</div>
</body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
        var cluster_name = "audag";
        var vm = new Vue({
            el: '.vue',
            data: { 
				array_nodes: [],
                cluster_name: cluster_name,
				node_detail: [],
				sort_by: "location",
            },
            methods: {
                swap_cluster: function(name) {;
                    vm.cluster_name = name;
					vm.fast_init();
                },
				detail: function(ip) {	
					vm.node_detail = [{'station':'Идет загрузка', 'hostname':'Подождите'}];
					axios.post('/detail', {"ip": ip}).then(function(response){
						console.log(response.data);
						vm.node_detail = []
						for(var key in response.data) {
								//Vue.set(vm.node_detail, response.data[key].station, response.data[key])
								vm.node_detail.push(response.data[key]);
						}
					});
				},
                reboot: function(ip){
                    if (confirm('Вы уверены ?')) {
                        axios.post('/reboot', {'ip': ip});
                    };
                },
				sort_by_key:	function(key) {
					vm.array_nodes.sort(function(a,b){
						var keyA = (a[key]).toString().toUpperCase();
						var keyB = b[key].toString().toUpperCase();
						if (keyA < keyB) {
							return -1;
						}
						if (keyA > keyB) {
							return 1;
						}
						return 0;
					});
				},
				fast_init: function() {
					fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);
										
									}
								
								});
				},
            },
			//запускается сразу после монтирования всех компонентов, и начинает обновлять таблицу
			mounted : function() {
                fetch(window.location.href + cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);
									}
								});
				this.$nextTick(function () {	
					setInterval(() => {
							fetch(window.location.href + vm.cluster_name)
								.then(function(response){return response.json()})
								.then(function(data){
									vm.array_nodes = [];
									for (var key in data) {
										vm.array_nodes.push(data[key]);
										vm.sort_by_key(vm.sort_by);
									}
								
								});
					}, 5000);
				});
			},
        })
    </script>
</html>